.app{
    position:relative;
}

/* Hero stays behind */

.hero{
    position:relative;
    z-index:1;
}

/* Everything after Hero */

.overlay-content{

    position:relative;

    z-index:20;

    margin-top:-100vh;

    pointer-events:none;
}

/* Enable interaction */

.page{

    min-height:100vh;

    pointer-events:auto;

    position:relative;
}